Edit content of <%= @file %>:
<form action="/<%= @file %>" method="post">
  <textarea name="content" cols="100" rows="20"><%= @content %></textarea>
  <br/>
  <input type="submit" value="Save Changes"/>
</form>

<form action="/<%= @file %>" method="post">
  <label for="content">Edit content of <%= @file%>:</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>