<% if session[:message] %>
  <p id="message"><%= session.delete :message %></p>
<% end %>

<h3>Using a Table</h3>
<table border="1">
  <thead>
    <tr>
      <th width="150">Filename</th>
      <th width = "40"></th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td>
          <a href="/<%= file %>"><%= file %></a>
        </td>
        <td>
          <a href="/<%= file %>/edit">Edit</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<h3>Using Unordered List</h3>
<ul>
  <% @files.each do |file| %>
    <li><a href="/<%= file %>"><%= file %></a> :: <a href="/<%= file %>/edit">Edit</a></li>
  <% end %>
</ul>