<% if session[:message] %>
  <p id="message"><%= session.delete :message %></p>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a> |
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>

<hr>

<% if session[:signedin] %>
  <form method="get" action="/signout">
    <label><em>Signed in as admin.</em></label>
    <button type="submit">Sign Out</button>
  </form>
<% else %>
  <form method="get" action="/signin">
    <button type="submit">Sign In</button>
  </form>
<% end %>